{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD com Python</title>
    <!-- Google Fonts - Lato -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link 
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" 
        rel="stylesheet">


    <!-- CSS Bootstrap -->
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Bootstrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- CSS do projeto -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
  
    <!-- Javascript Bootstrap -->
    <script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>
  </head>
  <body>
  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg fixed-top bg-primary-color" id="navbar">
      <div class="container py-3">
        <a class="navbar-brand mx-4" href="#">
          <img src="{% static 'img/imovi-icon.png' %}" alt="iMovi">
          <span>Gestão de Imóveis</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-items"
        aria-controls="navbar-items"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="bi bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbar-items">
            <ul class="navbar-nav me-5 mb-2 mb-lg-0">
              <a href="/form" class="btn btn-success me-1">Adicionar Contrato</a>
              <a href="/inquilinos" class="btn btn-success me-1">Inquilinos</a>
              <a href="/imoveis" class="btn btn-success me-1">Imóveis</a>
              <a href="{% url 'logout' %}" class="btn btn-danger me-1">Logout</a>
            </ul>
        </div>
      </div>
  </nav> 
  
    <div class="col-10 m-auto mt-5 pt-4 pb-2 text-center">
      <h1 class="col-8 mt-5 pt-2 pb-2 text-start"><strong>Contratos em Vigor</strong></h1><br>
    
        <table class="table">
            <thead class="table-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Inquilino</th>
                <th scope="col">Endereço</th>
                <th scope="col">Valor Aluguel</th>
                <th scope="col">Data Base</th>
                <th scope="col">Índice</th>
                <th scope="col">Ações</th>


              </tr>
            </thead>
            <tbody>
            {% for dbs in db %}
            
               <tr>
                  <th>{{dbs.id}}</th>
                  <td>{{dbs.nome}}</td>
                  <td>{{dbs.endereco}}</td>
                  <td>R$ {{dbs.valor_aluguel}}</td>
                  <td>{{dbs.data_base|date:"d/m/Y"|default:"---"}}</td>
                  <td>{{dbs.indice}}</td>
                  <td>
                      <a href="/edit/{{dbs.id}}/" class="btn btn-primary">Editar</a>
                      <a href="/delete/{{dbs.id}}/" class="btn btn-danger btnDel">Deletar</a>
                  </td>
                </tr>
            {% endfor %}
            <tr>
              <td colspan="3"></td>
              <td><strong>Total alugueis:</strong></td>
              <td><strong>R$ {{x}}</strong></td>
              <td colspan="2"></td>
            </tr>
            </tbody>
       
        </table>
    </div>
    
    {% load static %}
    <script src="{% static 'javascript.js' %}"></script>
      
</body>
</html>